<span> {{i18n "tlp_thumbnail.labels.external_thumbnail_url"}}</span> {{input type="text" value=buffered.external_thumbnail_url placeholder=(i18n  "tlp_thumbnail.labels.external_thumbnail_url_placeholder")}}
<br/>
{{input type="checkbox" checked=buffered.random_image_enabled}} <span> {{i18n "tlp_thumbnail.labels.random_image_enabled"}}</span>
